
body {
margin : 0;
padding : 0;
font : 73% "Trebuchet MS", verdana, tahoma, sans-serif;
color : #555;
background-size: cover;
background-image : url(desertcamel.jpg);
background-repeat : no-repeat;
height : 100%;
}
#container {
width : 80%;
margin-left : auto;
margin-right : auto;
margin-top: 60px;
margin-bottom: 10px;
padding : 0;
border : 5px solid #fff;
background-color: #ffffff;
}

#navlist {
padding : 3px 0;
margin : 0;
text-align : left;
font : bold 110% "Trebuchet MS", verdana, sans-serif;
color : #000;
background : #99c6e7;
}




#navlist li {
list-style : none;
margin : 0;
display : inline;
}
#navlist li a {
padding : 3px 1.5em;
margin : 0;
color : #333;
background : #99c6e7;
text-decoration : none;
}
#navlist li a:link, #navlist li a:visited {
color : #333;
background : #99c6e7;
}
#navlist li a:hover {
color : #fff;
background : #6ba0e6;
}
#navlist li a#current {
color : #fff;
background : #6ba0e6;
}







.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}












#banner {
width : 100%;
height : 150px;
padding : 0;
margin : 0;
color : #fff;
background-image : url(greenboard.jpg);
background-repeat: no-repeat;
}
#banner h1 {
margin : 0;
padding : 20px;
font : normal 175% "Trebuchet MS", tahoma, verdana, sans-serif;
letter-spacing : 5px;
text-transform : none;
border-bottom : none;
color : #fff;
background : transparent;
}

.box.small{
height: 150px; }
		
		
#content {
padding : 5px;
margin-left : 220px;
margin-bottom : 5px;
color : #555;
background : #eef6fb;
}




 {
padding : 5px;
margin-left : 0;
margin-bottom : 5px;
color : #555;
background : #eef6fb;
}


.div {
    width:100%;
    height:100%;
    margin-left: 30px;
    margin:-200px auto 0px auto;
    background:transparent url(board.jpg) no-repeat;
}






.bulletin {
max-width : 100%;
height : 200px;
background-img : url(greenboard.jpg) no-repeat; }


#sidebar-a {
float : left;
width : 180px;
margin : 0 10px 10px 10px;
padding : 5px;
border-right : 1px solid #fff;
color : #555;
background : #eef6fb;
}
#footer {
clear : both;
padding : 5px;
margin : 0;
text-align : center;
border-top : 1px solid #6ca3e4;
border-bottom : 1px solid #6ca3e4;
color : #333;
background : #99c6e7;
}
.roundcont {
margin : 10px;
width : 95%;
background : #f7fbfd;
color : #333;
}
.roundcont p {
margin : 0 15px;
}
.roundtop {
background : url(tr.gif) no-repeat top right;
}
.roundbottom {
background : url(br.gif) no-repeat top right;
}
img.corner {
width : 10px;
height : 10px;
border : none;
display : block !important;
}

p {
margin : 0;
font : 100% "Comic Sans MS", cursive, sans-serif;
padding : 0;
border-bottom : 0 solid #738ca5;
text-transform : none;
color : #000000;
background : inherit;

}





.tab { margin-left: 40px;
font-weight: bold;
font-size: 14px;
text-align: center;}





h1 {
margin : 10px 0 10px 10px;
padding : 0;
font : 150% "Comic Sans MS", cursive, sans-serif;
text-transform : uppercase;
color : #000000;
background : inherit;
text-align: center;
}
h2 {
margin : 0;
font : 140% "Comic Sans MS", cursive, sans-serif;
padding : 0;
border-bottom : 0 solid #738ca5;
text-transform : none;
color : #000000;
background : inherit;
}
a {
text-decoration : none;
color : red;
background : inherit;
}
a:hover {
text-decoration : underline;
color : #ffffff;
background : inherit;
}
a img {
border : 0;
}
.img {
float : left;
padding : 5px;
margin : 10px;
border : 1px solid #556b2f;
}
blockquote {
font-weight : bold;
font-style : italic;
color : #b29b35;
text-align: center;
}
